* {
  padding: 0;
  margin: 0;
}
.noti {
  margin-top: 5px;
  text-align: center;
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 90vh;
  border: 1px solid;
}
.main {
  height: 90%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}
.msg {
  overflow: hidden;
  margin-bottom: 10px;
}
.left {
  float: left;
  border: 1px solid;
  padding: 2px 10px;
}
.right {
  float: right;
  border: 1px solid;
  padding: 2px 10px;
}
.bottom {
  box-sizing: border-box;
  border-top: 1px solid;
  height: 10%;
  display: flex;
}
.new-link {
  user-select: none;
  cursor: pointer;
  flex: 1;
  text-align: center;
  position: relative;
  font-size: 18px;
  border-right: 1px solid;
}
.message {
  flex: 5;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
  border: 0;
}
.send {
  border-left: 1px solid;
  cursor: pointer;
  flex: 1;
  text-align: center;
  position: relative;
  user-select: none;
  font-size: 18px;
}
.send:hover {
  background-color: #ddd;
}
.new-link:hover {
  background-color: #ddd;
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
